<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{page_title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles.css">
</head>
<body>
    <div id="header">
        <h1>Roberto Prevato</h1>
        <p>DevOps / Senior Web Developer / Systems Architect</p>
    </div>

    <div id="content">
        <div class="corollary">
            <div class="wrapper">
                <h2>Skills</h2>
                <dl>
                    <dt class="skill">Azure</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">Azure DevOps</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">NET Framework </dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">NET Core</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">ASP.NET Core</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">C#</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">Python</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">JavaScript</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">HTML5</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">CSS3, SASS, Less</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">Docker</dt>
                    <dd class="level">⬤⬤⬤</dd>
                    <dt class="skill">PowerShell</dt>
                    <dd class="level">⬤⬤⬤</dd>
                    <dt class="skill">Bash</dt>
                    <dd class="level">⬤⬤⬤</dd>
                    <dt class="skill">Git</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">Markdown, UML</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">Kubernetes, Helm</dt>
                    <dd class="level">⬤⬤</dd>
                    <dt class="skill">xUnit</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                    <dt class="skill">pytest</dt>
                    <dd class="level">⬤⬤⬤⬤⬤</dd>
                </dl>
            </div>
        </div>
        <div class="main">
            <div class="wrapper">
                <h2>Profile</h2>
                <p>
                    Web applications specialist with deep understanding of HTTP web servers, clients, frameworks, and browsers. Generalist profile. Experience built over the years, working on many single page applications and back-end services as full stack developer. Back-end experience mostly with Microsoft technologies: C#, SQL Server, EntityFramework, currently working with the latest ASP.NET Core web framework and .NET Core runtime, but having experience of older .NET frameworks and standards, such as ASP.NET Web Forms, ASP.NET MVC, OWIN, and WCF. Front-end experience in several libraries and frameworks: JavaScript, EcmaScript 2015 and 2017, jQuery, Backbone, Require.js, Knockout.js, React, Vue.js, D3.js, including boilerplate with Grunt, Gulp, Browserify, WebPack.
                </p>
                <p>
                    Now working as DevOps and Azure specialist, with the responsibility of delivering complex web services, and deploying them to Azure Cloud using continuous integration and delivery builds, through ARM templates and deployment scripts. Having administration responsibility over several Azure tenants, including Azure B2C tenants and their user flows, Azure API Management, and also Azure DevOps organizations and their projects.
                </p>
                <p>
                    Expanded in the last two years in Azure domain, using services such as: Azure Active Directory and B2C for identity management, Azure Function, Azure SQL, CosmosDB, Storage, Service Bus, Search, Application Insights, KeyVault; and OAuth, Swagger/OpenAPI, JWT standards. 
                    DevOps able to deliver complex web services and deploy them to Azure Cloud using continuous integration and delivery builds, including the preparation of ARM templates and deployment scripts. Proficient in PowerShell and Unix bash, Windows and Linux operating systems. Able to organize source code for projects in .NET, Python, ECMAScript and define  packages for these technologies (NuGet, npm, PyPi, CPython C extensions).
                </p>
            </div>
            <div class="wrapper">
                <h2>Desired position</h2>
                <p>
                    DevOps and Web Solutions Architect, Azure Cloud specialist focused on PaaS, SaaS, Serverless, involved in defining systems architecture, deployment and maintenance strategies, and Cloud governance. Possibility to work with favorite technologies: Azure, Python, C#, ECMAScript, Docker and Kubernetes.
                </p>
            </div>
            <div class="wrapper">
                <h2>Certificates</h2>
                <p>
                    DevOps and Web Solutions Architect, Azure Cloud specialist focused on PaaS, SaaS, Serverless, involved in defining systems architecture, deployment and maintenance strategies. Possibility to work with favorite technologies: Azure, Python, C#, ECMAScript, Docker and Kubernetes.
                </p>
            </div>
            <div class="wrapper">
                <h2>Experience</h2>
                <p>
                    DevOps and Web Solutions Architect, Azure Cloud specialist focused on PaaS, SaaS, Serverless, involved in defining systems architecture, deployment and maintenance strategies. Possibility to work with favorite technologies: Azure, Python, C#, ECMAScript, Docker and Kubernetes.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
