<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{name}} - {{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles.css">
</head>
<body>
    <div id="header">
        <h1>{{name}}</h1>
        <p>DevOps / Senior Web Developer / Systems Architect</p>
    </div>

    <div id="content">
        <div class="corollary">
            <div class="wrapper">
                <h2>Skills</h2>
                <dl>
                    {% for skill in skills %}
                    <dt class="skill">{{skill.name}}</dt>
                    <dd class="level">{{'⬤' * skill.level}}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
        <div class="main">
            <div class="wrapper">
                <h2>Profile</h2>
                <p>{{profile}}</p>
            </div>
            <div class="wrapper">
                <h2>Desired position</h2>
                <p>{{desired_position}}</p>
            </div>
            <div class="wrapper">
                <h2>Certificates</h2>
                <p>
                    DevOps and Web Solutions Architect, Azure Cloud specialist focused on PaaS, SaaS, Serverless, involved in defining systems architecture, deployment and maintenance strategies. Possibility to work with favorite technologies: Azure, Python, C#, ECMAScript, Docker and Kubernetes.
                </p>
            </div>
            <div class="wrapper">
                <h2>Experience</h2>
                <p>
                    DevOps and Web Solutions Architect, Azure Cloud specialist focused on PaaS, SaaS, Serverless, involved in defining systems architecture, deployment and maintenance strategies. Possibility to work with favorite technologies: Azure, Python, C#, ECMAScript, Docker and Kubernetes.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
