@media print {
    @page { 
        margin: 20mm 25mm 20mm 25mm;
    }

    body {
        padding: 0 !important;
    }
}

@page:right{
    @bottom-right {
      content: counter(page);
    }
}

body{
    width: 21cm;
    height: 29.7cm;
    padding: 20mm 35mm 20mm 35mm;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}

.page-break {
    page-break-after: always;
}

#header {
    border-top: 15px solid #158466;
    border-bottom: 12px solid #dedede;
    margin-bottom: .5cm;

    background-image: url('roberto-prevato.jpg');
    background-position-y: top;
    background-position-x: right;
    background-size: 121px;
    background-repeat: no-repeat;
}

.corollary {
    width: 7cm;
    float: left;
    min-height: 90vh;
    border-right: 1mm dotted #dedede;
}

.corollary .wrapper {
    padding-left: 0;
}

.main {
    margin-left: 7cm;
    min-height: 90vh;
}

.wrapper {
    padding: 0.5cm 1cm 0 1cm;
}

h1, h2, h3, h4 {
    font-family: Roboto;
    /*font-family: Montserrat;*/
    font-weight: lighter;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    color: #158466;
}

p, dd {
    line-height: 1.5em;
}

.corollary dl dt {
    float: left;
    height: 1cm;
}

.corollary dl dd {
    height: 1cm;
}

.level {
    color: #158466;
    font-size: 15px;
    padding-left: 0.5cm;
    text-align: right;
}

#contacts .fas, #contacts .fab {
    font-size: 20px;
    color: #158365;
}

.employer {
    font-weight: bold;
}

.main dd {
    margin: 0.3cm 0 0 1cm;
}

.main dt {
    margin: 0.5cm 0;
}

/*.main dt:not(:nth-child(1))*/

.main dt {
    border-top: 1mm dotted #efefef;
    padding-top: 5mm;
}